<?xml version="1.0" encoding="utf-8"?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.nlog-project.org/schemas/NLog.xsd NLog.xsd" autoReload="true" throwExceptions="false" internalLogLevel="Off" internalLogFile="c:\temp\nlog-internal.log">
  <!-- optional, add some variables
  https://github.com/nlog/NLog/wiki/Configuration-file#variables
  -->
  <variable name="pathRoot" value="D:\项目\厦门友达\" />
  <!--
  See https://github.com/nlog/nlog/wiki/Configuration-file
  for information on customizing logging rules and outputs.
   -->
  <!-- BUG等级设置：Trace<<Debug<<Info<<Warn<<Error<<Fatal -->
  <!-- 设置时间代码：${date:format=yyyy-MM-dd HH\:mm\:ss} -->
  <!-- 20190121-->
  <targets>
    <target name="State" xsi:type="File" keepFileOpen="false" fileName="${pathRoot}/软件运行记录/运行日志/${shortdate}/${date:format=HH}/State.txt" layout="${longdate}:  ${message} ${onexception:${exception:format=tostring} ${newline} ${stacktrace} ${newline}" />
    <target name="Alarm" xsi:type="File" keepFileOpen="false" fileName="${pathRoot}/软件运行记录/运行日志/${shortdate}/${date:format=HH}/Alarm.txt" layout="${longdate}:  ${message} ${onexception:${exception:format=tostring} ${newline} ${stacktrace} ${newline}" />
    <!--
    add your targets here
    See https://github.com/nlog/NLog/wiki/Targets for possible targets.
    See https://github.com/nlog/NLog/wiki/Layout-Renderers for the possible layout renderers.
    -->
    <!--
    Write events to a file with the date in the filename.
    <target xsi:type="File" name="f" fileName="${basedir}/logs/${shortdate}.log"
            layout="${longdate} ${uppercase:${level}} ${message}" />
    -->
  </targets>
  <rules>
    <!-- add your logging rules here -->
    <logger name="State" minlevel="Debug" writeTo="State" />
    <logger name="Alarm" minlevel="Debug" writeTo="Alarm" />
    <!--
    Write all events with minimal level of Debug (So Debug, Info, Warn, Error and Fatal, but not Trace)  to "f"
    <logger name="*" minlevel="Debug" writeTo="f" />
    -->
  </rules>
</nlog>